body{
    margin-left: 40%;
    margin-top: 50px;
}
#text{
    height: 40px;
    width: 350px;
    margin-left: -100px;
}
#btn_add{
    height: 45px;
    width: 80px;
    background-color: rgb(45, 193, 45);
}
.bigDiv{
    margin-top: 10px;
    margin-left: -70px;
    width: 75px;
    height: 25px;
    display: flex;
    flex-flow: row-reverse;
    background-color: red;
    text-align: center;
}
.text{
    height: 25px;
    width: 50px;
    margin-right: -20px;
}
.button{
    height: 25px;
}